* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main: #151616;
  --white: #FFF;
  --gray: #121212;
  --black: #000;
  --secondary: #6ed2cd;
  --gradient: linear-gradient(90deg, rgba(67,154,240,1) 0%, rgba(132,242,168,1) 100%);
  --web-gradient: -webkit-linear-gradient(90deg, rgba(67,154,240,1) 0%, rgba(132,242,168,1) 100%);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--main);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, select, button {
  font: 400 1rem 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2 {
  background: var(--web-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0;
}



@media( max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media( max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}