.Skills {
  margin-bottom: 7rem;
  h2 {
    font-size: 3rem;
    text-align: center;
    display: block;
    margin: 4rem 0;
  }

  div {
    font-size: 3rem;
    text-align: center;
    span {
      font-size: 1rem;
      font-weight: 200;
      display: block;
    }
  }

  svg:hover {
    color: var(--secondary);
  }
  
  img {
    width: 48px;
    margin: 0 auto;
    padding-bottom: 1rem;
  }
}

