.Hero {
  display: flex;
  flex-direction: column;
  .HeroContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;

    img {
      width: 480px;
    }

    article {
      span {
        font-size: 1.5rem;
        display:block;
      }
    
      h1 {
        font-size: 5rem;
        padding: 0;
      }
    
      button {
        display: block;
        margin-top: 16px;
        width: 200px;
        height: 48px;
        color: var(--black);
        padding: 0.8rem;
        font-weight: bold;
        line-height: 100%;
        cursor: pointer;
        transition: all 0.3s ease;
        border: 2px solid var(--secondary);
        background: var(--gradient);
    
        &:hover {
          background: transparent;
          color: var(--secondary);
        }
      }
    }
  }
}

.SocialLinks{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 7rem;

  & > svg {
    font-size: 30px;
    animation: move 2s infinite alternate;
  }

  @keyframes move {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(20px);
    }
  }

  span {
    a {
      font-size: 1rem;
      &:hover {
        color: var(--secondary);
      }
    }
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    li {
      display: inline-block;
      font-size: 32px;

      &:hover {
        color: var(--secondary);
      }

      & + li {
        margin-left: 18px;
      }
    }
  }
}

.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 7rem;


  blockquote {
    margin-top: 4rem;
    text-align: end;
    p {
      font-size: 1.5rem;
    }

    cite {
      color: var(--secondary);
    }
  }
}

.Presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .Resume {
    max-width: 700px;

    h2 {
      font-size: 4rem;
      background: var(--web-gradient);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-size: 1.5rem;
    }
  }

  img {
    width: 360px;
  }
}

.PreviewPortfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;

  a {
    display: block;
    text-decoration: underline;
    color: var(--secondary);
    font-size: 1.5rem;
    margin-top: 2rem;

    &:hover {
      filter: brightness(70%);
    }
  }
}

.Contact {
  margin-bottom: 7rem;
  form {
    display: flex;
    flex-direction: column;

    > div {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
    }

    input, textarea {
      margin: 1rem 0;
      padding: 1rem ;
      width: 100%;
      background: var(--gray);
      color: var(--white);
      border: 1px solid var(--white);

      &::placeholder {
        color: #9b9b9b;
      }
        
      &:focus {
        outline-color: var(--secondary);
      }
    }

    textarea {
      resize: none;
    }

    button {
      margin-left: auto;
      width: 240px;
      height: 40px;
      border: 1px solid var(--secondary);
      background: var(--gradient);
      color: var(--black);
      font-weight: bold;

      &:hover {
        background: transparent;
        color: var(--secondary);
      }
    }
  }
}

@media screen and (max-width: 1140px) {
  .Hero {
    .HeroContent {
      img {
        width: 380px;
      }

      article {
        h1 {
          font-size: 4rem;
        }
      }
    }
  }
  .Presentation {
    .Resume {
      max-width: 600px;
  
      h2 {
        font-size: 3rem;
        background: var(--web-gradient);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
  
      p {
        font-size: 1.25rem;
      }
    }

    img {
      width: 300px;
    }
  }
}

@media screen and (max-width: 960px) {
  .Hero{
    .HeroContent {
      justify-content: center;
      padding: 4rem 0;

      img {
        display: none;
      }

      article {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  } 
  .About {
    blockquote {
      p {
        font-size: 1.25rem;
      }
    }
  }
  .Presentation {
    flex-direction: column;
    .Resume {
      max-width: 100%;
      margin-bottom: 2rem;
    }

    img {
      width: 240px;
    }
  }
}

@media screen and (max-width: 720px) {
  .Contact {
    form > div {
      flex-direction: column;
      justify-content: center;
      gap: 0;
    }
  }
  
  .SocialLinks > svg {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .SocialLinks {
    flex-direction: column;
    justify-content: center;
    > span {
      display: none;
    }
  }

  .Contact {
    form button {
      width: 100%;
    }
  }
}