.HeaderContainer{
  position: fixed;
  z-index: 2;

  max-width: 1366px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto; 
  left: 0;
  right: 0;
  padding: 2rem 3rem;

  svg:hover > path {
    stroke: var(--secondary);
  }

  nav {
    ul {
      display: flex;
      list-style: none;
      li {
        font-size: 1.25rem;
        font-weight: 200;
        & + li {
          margin-left: 36px;
        }

        &:hover {
          color: var(--secondary);
        }
      }
    }
    input, label {
      display: none;
    }
  }

  .Checkbtn {
    font-size: 1.25rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 720px) {
  .HeaderContainer{
    background: var(--main);
    img {
      width: 32px;
    }

    nav {
      ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--main);
        filter: opacity(90%);
        top: 62px;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all .5s;
        li {
          font-weight: 400;
          & + li {
            margin-left: 0;
            margin-top: 2rem;
          }
        }
      } 
      label {
        display: block;
      }
      
      input[type="checkbox"]:checked ~ ul{
        left: -100%;
      }

    }
  }

  .Checkbtn {
    display: block;
  }
}